# Use postgres/example user/password credentials

services:

  db:
    image: postgres:16.2
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    ports:
      - '5432:5432'
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: pomodoro


  cache:
    image: redis:7.4.7-alpine
    restart: always
    ports:
      - '6379:6379'
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080